[project]
	description = Headlight controler for eBike
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/browar102
[access "refs/for/refs/*"]
	read = group user/browar102
	push = group user/browar102
	label-Code-Review = -2..+2 group user/browar102
	label-Verified = -1..+1 group user/browar102
	rebase = group user/browar102
	removeReviewer = group user/browar102
	submit = group user/browar102
[access "refs/heads/*"]
	read = group user/browar102
	create = group user/browar102
	push = +force group user/browar102
	pushMerge = group user/browar102
[access "refs/tags/*"]
	push = group user/browar102
	push = +force group user/browar102
[submit]
	action = fast forward only
	mergeContent = false
